Published/App_WebReferences/EastpointeCityCouncil/EastpointeCityCouncil.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Roster">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="d" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RosterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RosterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RosterSoapIn">
    <wsdl:part name="parameters" element="tns:Roster" />
  </wsdl:message>
  <wsdl:message name="RosterSoapOut">
    <wsdl:part name="parameters" element="tns:RosterResponse" />
  </wsdl:message>
  <wsdl:portType name="EastpointeCityCouncilSoap">
    <wsdl:operation name="Roster">
      <wsdl:input message="tns:RosterSoapIn" />
      <wsdl:output message="tns:RosterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EastpointeCityCouncilSoap" type="tns:EastpointeCityCouncilSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Roster">
      <soap:operation soapAction="http://tempuri.org/Roster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EastpointeCityCouncilSoap12" type="tns:EastpointeCityCouncilSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Roster">
      <soap12:operation soapAction="http://tempuri.org/Roster" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EastpointeCityCouncil">
    <wsdl:port name="EastpointeCityCouncilSoap" binding="tns:EastpointeCityCouncilSoap">
      <soap:address location="http://cd-dotnet4-2.clients.nasa.cpwr.corp:200/WebServices/EastpointeCityCouncil.asmx" />
    </wsdl:port>
    <wsdl:port name="EastpointeCityCouncilSoap12" binding="tns:EastpointeCityCouncilSoap12">
      <soap12:address location="http://cd-dotnet4-2.clients.nasa.cpwr.corp:200/WebServices/EastpointeCityCouncil.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>